@import "./styles.scss";

@keyframes skeleton-loading {
    0% {
        background-position: -200% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}

@mixin skeleton-animation {
    background: linear-gradient(270deg, #f0f0f0 0%, #e0e0e0 50%, #f0f0f0 100%);
    background-size: 200% 100%;
    animation: skeleton-loading 1.5s ease-in-out infinite;
}

.skeleton-container-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2vw;
    padding-top: 20vh;
    padding-left: 5vw;
    min-height: 100vh;
    overflow: hidden;

    .skeleton-fixed {
        position: fixed;
        right: 0;
        width: 45vw;
        padding-right: 5vw;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 2vh;

        .skeleton-search-bar {
            width: 32vw;
            height: 45px;
            border-radius: 25px;
            @include skeleton-animation;
            margin-bottom: 2vh;
        }

        .skeleton-card {
            width: 80%;
            height: 220px;
            border-radius: 15px;
            @include skeleton-animation;
            padding: 2vh 1vw;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
    }

    .skeleton-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2vh;
        width: 55vw;
        border-radius: 1vw;
        padding: 3vh 2vw;
        box-shadow: 0.5vw 1vh 0 black;
        background: #f9f9f9;

        .skeleton-head {
            width: 80%;
            height: 48px;
            border-radius: 8px;
            margin-bottom: 2vh;
            @include skeleton-animation;
        }

        .skeleton-image {
            width: 280px;
            height: 160px;
            border-radius: 8px;
            margin-bottom: 3vh;
            @include skeleton-animation;
        }

        .skeleton-lines {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.5vh;

            .skeleton-line {
                height: 24px;
                border-radius: 8px;
                @include skeleton-animation;
            }
        }
    }

    @media (max-width: 768px) {
        flex-direction: column-reverse;
        padding: 0 5vw;
        .skeleton-fixed {
            display: none;
        }
        .skeleton-container {
            width: 100%;
            height: 70vh;
        }
    }
}
