$--16px: 1rem;
$--12px: 0.75rem;
$--14px: 0.875rem;
$--18px: 1.125rem;
$--24px: 1.5rem;
$--26px: 1.625rem;
$--32px: 2rem;
$--34px: 2.125rem;
$--38px: 2.375rem;
$--42px: 2.625rem;
$--48px: 3rem;
$--64px: 4rem;
$pri-col: #fd79a8;
$poppins: var(--font-poppins);
$nunito: var(--font-nunito);
$josefin: var(--font-josefin);
$bebas: var(--font-bebas);
$grady-color: linear-gradient(100deg, #fd967f 0%, #ee437f 100%);
@mixin flex-center($direction: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}
.hero-parent {
    padding-left: 5vw;
    padding-top: 16vh;
    padding-bottom: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2vw;
    min-height: 90vh;

    img {
        width: 300px;
        height: 250px;
        border-radius: 0.5vw;
        border: 5px solid violet;
    }
}

.hero-content-wrap {
    @include flex-center();
    width: 100%;
    gap: 3vw;
}

.hero-container-title {
    background-color: black;
    width: 100%;
    padding: 1vh 1vw;
    border-radius: 10px;
    box-shadow: 0 0 1vw 0 black;
    @include flex-center();
    justify-content: space-between;
    color: white;
    h3 {
        font-size: $--16px;
    }
}

.hero-container {
    padding: 3vh 2vw;
    @include flex-center(column);
    align-items: flex-start;
    gap: 5vh;
    border: 2px solid black;
    box-shadow: 0.5vw 1vh 0 black;
    width: 55vw;
    border-radius: 1vw;
    backdrop-filter: blur(5px);
    ul {
        list-style-type: decimal;
        @include flex-center(column);
        align-items: flex-start;
        gap: 1vh;
    }
    li {
        font-family: $nunito;
        font-size: $--16px;
        font-weight: 700;
    }
    .view-in-full {
        font-weight: 700;
        text-decoration: underline;
        color: $pri-col;
        font-family: $josefin;
        font-size: $--14px;
    }
    .hero-container-head {
        @include flex-center();
        align-items: flex-start;
        justify-content: space-between;
        gap: 1vw;
        width: 100%;
        gap: 1vh;
        span {
            font-family: $nunito;
            font-weight: 700;
            font-size: $--12px;
            flex-direction: 1;
            color: slategrey;
            @include flex-center();
            gap: 5px;
        }
        a {
            flex: 1;
        }
        h2 {
            font-size: $--38px;
            font-weight: 800;
            font-family: var(--font-josefin);
            color: #fd79a8;
        }
    }
}

.hero-container-wrap {
    @include flex-center(column);
    align-items: flex-start;
    gap: 5vh;

    div:nth-child(2) {
        margin-top: -3vh;
    }
}

.hero-container-fixed {
    position: fixed;
    right: 0;
    width: 35vw;
    padding-right: 5vw;
    @include flex-center(column);
    align-items: flex-end;
    gap: 2vh;
    .hero-search {
        width: 100%;
        form {
            @include flex-center();
            justify-content: flex-end;
            gap: 0.5vw;
        }
        input {
            border: 2px solid black;
            width: 100%;
            border-radius: 2vw;
            padding: 0 1vw;
            &::placeholder {
                text-align: center;
            }
        }
        button {
            border: 2px solid black;
            padding: 0 1vw;
            color: white;
            background-color: black;
            font-weight: 700;
            border-radius: 2vw;
            width: 6vw;
            transition: all 0.2s ease-in-out;
            &:hover {
                width: 8vw;
                background: $grady-color;
            }
        }
    }
    .hero-card1 {
        border-radius: 1vw;
        width: 100%;
        @include flex-center(column);
        gap: 2vh;
        padding: 2vh 1vw;
        background-color: black;
        color: white;
        overflow: hidden;

        h3 {
            font-size: 1.4rem;
            font-weight: 900;
            line-height: 5vh;
            border-bottom: 2px solid black;
            border-radius: 2vw;
            width: 100%;
            text-align: center;
            background: $grady-color;
        }

        .hero-card1-items {
            @include flex-center();
            gap: 1vw;
            flex-wrap: wrap;
            padding: 1vh 2vw;
            color: black;

            div {
                font-size: $--14px;
                font-weight: 700;
                transition: all 0.1s ease-in-out;
                &:hover {
                    scale: 1.1;
                    cursor: pointer;
                    background-color: $pri-col;
                }
            }
        }
    }
}

.unselected-hashtag {
    background-color: white;
}
.selected-hashtag {
    background-color: $pri-col;
}

.toast-parent {
    background: black;
    color: white;
    padding: 2vh 1vw;
    border-radius: 1vw;
    border: 2px solid black;
}

.success-toast {
    background: rgb(0, 255, 0, 0.7);
    backdrop-filter: blur(3px);
    color: black;
    padding: 2vh 1vw;
    border-radius: 1vw;
    border: 2px solid black;
}

.destructive-toast {
    background: rgb(255, 0, 0, 0.7);
    backdrop-filter: blur(3px);
    color: white;
    padding: 2vh 1vw;
    border-radius: 1vw;
    border: 2px solid black;
}
