@import "@/styles/styles.scss";

.nav-parent {
    padding: 0vh 2vw;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 1000;
    width: 100%;
    color: white;
    transition: background-color 0.3s ease;
    border-bottom: 2px solid black;
    @media (max-width: 767px) {
        padding: 1vh 3vw;
    }
}
.nav-parent-default {
    background-color: rgba(0, 0, 0, 1);
}
.nav-parent-scrolled {
    background-color: rgba(0, 0, 0, 0.7);
}
.nav-container {
    @include flex-center();
    justify-content: space-between;
    .nav-left {
        @include flex-center();
        gap: 3vw;
        font-family: $poppins;

        @media (max-width: 768px) {
            gap: 5vw;
        }
        ul {
            @include flex-center();
            gap: 1vw;

            @media (max-width: 768px) {
                gap: 2vw;
            }
            a,
            li {
                font-weight: 700;
                font-size: 1.2rem;
                cursor: pointer;
                @media (max-width: 768px) {
                    font-size: $--14px;
                }
                &:hover {
                    animation: bottomLine 0.3s ease-in forwards;
                }
                @keyframes bottomLine {
                    100% {
                        border-bottom: 3px solid $pri-col;
                        border-width: 100%;
                    }
                }
            }
        }

        h1 {
            font-weight: 800;
            font-size: $--42px;
            @media (max-width: 768px) {
                font-size: 1.8rem;
            }
        }
    }

    .nav-right {
        @include flex-center();
        gap: 0.5vw;

        .nav-msg {
            padding: 7px;
            border-radius: 100%;
            background-color: black;
            cursor: pointer;

            @media (max-width: 768px) {
                display: none;
            }
        }
    }
}
