@import "@/styles/styles.scss";

.footer-parent {
    position: relative;
    bottom: 0;
    @include flex-center();
    padding: 3vh 2vw;
    background: black;
    border-radius: 1vw 1vw 0 0;
    width: 100%;
    .footer-container {
        @include flex-center();
        align-items: center;
        justify-content: space-between;
        width: 100%;
        color: white;
        text-transform: uppercase;
        // .footer-title {
        //     text-shadow: 5px 0 0 $pri-col;
        // }
        h3 {
            font-size: $--38px;
            font-family: $bebas;
            font-weight: 800;
            letter-spacing: 1px;
        }
        p {
            font-size: $--12px;
            font-family: $josefin;
        }
        ul {
            list-style-type: disc;
            font-family: $bebas;
            @include flex-center();
            gap: 2vw;
        }
        li {
            font-size: $--18px;
            letter-spacing: 1px;
            color: rgb(255, 255, 255, 0.9);
            &:hover {
                color: $pri-col;
            }
        }
    }
}

.footer-icons-parent {
    @include flex-center(column);
    gap: 1vh;
}
.footer-icons-container {
    @include flex-center();
    gap: 0.5vw;
    transition: all 0.2s ease-in-out;
    a {
        &:first-child {
            color: #4267b2;
        }
        &:nth-child(2) {
            color: #e1306c;
        }

        &:hover {
            scale: 1.1;
            color: $pri-col;
        }
    }

    .footer-icon {
        font-size: $--32px;
    }
}

.footer-newsletter {
    form {
        @include flex-center();
        gap: 1vw;
        font-size: $--16px;
        input {
            border: 2px solid $pri-col;
            background-color: transparent;
            border-radius: 1vw;
            font-family: $josefin;
            padding: 0 1vw;
            &::placeholder {
                text-align: center;
                font-size: $--14px;
            }
        }

        button {
            padding: 0 1vw;
            background-color: #4267b2;
            border-radius: 5vw;
            font-family: $josefin;
            transition: all 0.2s ease;
            &:hover {
                background-color: $pri-col;
            }
        }
    }
}
