@import "@/styles/styles.scss";

.category-parent {
  padding: 14vh 5vw;
  font-family: $josefin;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.category-parent-container {
  display: flex;
  gap: 3vw;

  @media (max-width:768px){
    // background-color: black;
  }

}

.category-container-title {
  background-color: black;
  width: 100%;
  padding: 1vh 1vw;
  border-radius: 10px;
  box-shadow: 0 0 1vw 0 black;
  @include flex-center();
  justify-content: space-between;
  color: white;
  h3 {
      font-size: $--16px;
      font-family: $josefin;
      @media (max-width: 768px) {
          font-size: $--14px;
      }
  }
  @media (max-width: 768px) {
      padding: 0.5vh 4vw;
      justify-content: space-between;
      gap: 4vw;
    }
}

.category-parent-left {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 55vw;
  @media (max-width:768px){
    width: 100%;
  }
}

.category-parent-right {
  position: fixed;
  right: 0;
  top: auto;
  width: 35vw;
  padding-right: 5vw;
  @include flex-center(column);
  justify-content: flex-start;
  gap: 2vh;

  @media (max-width:768px){
    display: none;
  }
}

.category-hero-container-wrap {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  height: 100%;
  width: 100%;

  @media (max-width:768px){
    li{
      color: black;
      font-size: $--12px;
    }
  }
}

.category-container-head {
  padding: 3vh 1vw;
  gap: 3vw;
  box-shadow: 0.5vw 1vh black;
  border: 2px solid black;
  width: 100%;
  border-radius: 1vw;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
  transition:
    scale 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

  &:hover {
    backdrop-filter: blur(4px);
    scale: 1.003;
    box-shadow: 0.5vw 1vh 10px black;
  }

  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    border-radius: 0.5vw;
    border: 5px solid violet;
  }
}

.category-title {
  width: 100%;
  margin-bottom: 2vh;
  display: flex;
  justify-content: center;
  color: white;
}

.category-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;

  li {
    list-style-type: decimal;

    &:hover {
      color: $pri-col;
    }
  }

  a {
    font-size: $--18px;

    &:hover {
      color: $pri-col;
    }
  }
}

.category-hero-card2 {
  border-radius: 1vw;
  width: 100%;
  @include flex-center(column);
  justify-content: flex-start;
  height: fit-content;
  gap: 2vh;
  padding: 2vh 1vw;
  background-color: rgb(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
  color: white;
  overflow: hidden;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: black;
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 900;
    line-height: 5vh;
    border-bottom: 2px solid black;
    border-radius: 2vw;
    width: 100%;
    text-align: center;
    background: $grady-color;
  }

  .category-hero-card-items2 {
    @include flex-center(column);
    align-items: flex-start;
    gap: 2vh;
    width: 100%;
    padding: 1vh 1vw;

    a {
      font-family: $josefin;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      gap: 0.5vw;

      &:hover {
        color: $pri-col;

        .link-icon {
          color: white;
        }
      }

      .link-icon {
        font-size: $--12px;
        color: $pri-col;
      }
    }
  }
}

.hero-category-search-container {
  @include flex-center(column);
  gap: 3vh;
  width: 100%;
}

.category-search {
  width: 100%;
  form {
    @include flex-center();
    justify-content: flex-end;
    gap: 0.5vw;
  }
  input {
    border: 2px solid black;
    width: 100%;
    border-radius: 2vw;
    padding: 0 1vw;

    &::placeholder {
      text-align: center;
    }
  }

  button {
    border: 2px solid black;
    padding: 0 1vw;
    color: white;
    background-color: black;
    font-weight: 700;
    border-radius: 2vw;
    width: 6vw;
    transition: all 0.2s ease-in-out;

    &:hover {
      width: 8vw;
      background: $grady-color;
    }
  }
}

.category-dir {
  @include flex-center(column);
  gap: 2vh;
  align-items: flex-start;
}
.category-read-more {
  color: #fd79a8;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 700;
  font-family: $josefin;
  font-size: 0.875rem;
}

.category-date {
  span {
    @include flex-center();
    align-items: center;
    gap: 0.5vw;
    text-align: start;
    border: 2px solid slategrey;
    padding: 0.5vh 0.5vw;
    border-radius: 1vw;
    box-shadow: 2px 2px black;
    color: #fd79a8;
    font-weight: 800;
    font-size: $--12px;
    font-family: $nunito;
  }
}
.category-footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.load-more-button{
  display: flex;
  justify-content: center;
  Button{
    border: 2px solid $pri-col;
    border-radius: 4vw;
    color: $pri-col;
    font-weight: 800;
    font-size: $--18px;
    padding: 1vh 2vw;
    width: fit-content;
    
  }
}